[Desktop Entry]
Type=Application
Name=apps
Exec=tilix --profile="apps"
Icon=./.vscode/.linux/apps.svg
Terminal=false
Categories=Utility;TerminalEmulator;
