@inject IStringLocalizer<Lang> L

<button class="d-sm-none border-0 p-0 align-baseline bg-transparent text-primary" type="button"
	data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar" aria-label="@(L["Menu"])">
	<svg xmlns="http://www.w3.org/2000/svg" class="rounded-circle" viewBox="0 0 60 60" width="40" height="40">
		<circle fill="currentColor" style="opacity:0.2" cx="30" cy="30" r="30" />
		<path fill="currentColor"
			d="M 20,37.27 A 0.9091,0.9091 0 0 1 20.91,36.37 H 39.09 A 0.9091,0.9091 0 0 1 39.09,38.18 H 20.91 A 0.9091,0.9091 0 0 1 20,37.27 Z M 20,30 A 0.9091,0.9091 0 0 1 20.91,29.09 H 39.09 A 0.91,0.91 0 0 1 39.09,30.91 H 20.91 A 0.9091,0.9091 0 0 1 20,30 Z M 20,22.73 A 0.9091,0.9091 0 0 1 20.91,21.82 H 39.09 A 0.9091,0.9091 0 0 1 39.09,23.64 H 20.91 A 0.9091,0.9091 0 0 1 20,22.73 Z">
		</path>
	</svg>
	<span class="d-none fs-6 pe-1">@L["Menu"]</span>
</button>
